<% if resource.errors.any? %>
  <div id="error_explanation" class="flash flash--alert mb-4">
    <div class="flash__body">
      <div class="flash__text">
        <strong><%= pluralize(resource.errors.count, "error") %> prohibited this account from being saved:</strong>
        <ul class="mt-1 pl-5 list-disc">
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
