<%# Step template selector partial %>
<%# This partial adds a template dropdown to step forms for quick template application %>
<% templates_data = StepTemplate.all_for_type(step_type).to_json %>
<%# Use CGI.escapeHTML to escape for HTML attributes, but preserve JSON structure %>
<%# We'll use single quotes in the HTML attribute to avoid quote conflicts %>
<% escaped_data = templates_data.gsub("'", "&#39;").gsub('"', '&quot;') %>

<div class="form-group mb-3"
     data-controller="step-template"
     data-step-template-step-type-value="<%= step_type %>"
     data-step-template-templates-data="<%= escaped_data %>">
  <label class="form-label">Apply Template</label>
  <select data-step-template-target="select"
          data-action="change->step-template#applyTemplate"
          class="form-select w-full">
    <option value="">-- Select a template --</option>
    <% StepTemplate.all_for_type(step_type).each do |template| %>
      <option value="<%= template[:key] %>"><%= template[:name] %></option>
    <% end %>
  </select>
  <p class="form-hint">Quickly fill form fields with a predefined template</p>
</div>
